@font-face {
  font-family: "Debug";
  src: url('Debug.otf');
}

@font-face {
  font-family: "Boomster";
  src: url('Boomster.otf');
}

body {
  text-align: center;
  background: linear-gradient(315deg, rgba(115,3,157,1) 11%, rgba(173,17,158,1) 57%, rgba(244,24,131,1) 91%);
  background-attachment: fixed;
  font-family: 'Debug';
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(0, 234, 255);
  font-size: 72px;
  font-family: 'Boomster';
  margin-bottom: 0px;
}
#game {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: baseline;
  margin-bottom: 50px;
}
#your-choice,
#cpu-choice {
  width: 8rem;
  height: 8rem;
  border: solid 1px #d3d3d3;
  border-radius: 4rem;
  font-size: 5rem;
  line-height: 9rem;
}

#rock-rock:checked ~ #game #your-choice::before,
#rock-paper:checked ~ #game #your-choice::before,
#rock-scissors:checked ~ #game #your-choice::before {
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Raised%20Fist.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  content: "";
  margin-left: -60px;
  position: absolute;
}
#paper-rock:checked ~ #game #your-choice::before,
#paper-paper:checked ~ #game #your-choice::before,
#paper-scissors:checked ~ #game #your-choice::before {
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Raised%20Hand.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  content: "";
  margin-left: -60px;
  position: absolute;
}
#scissors-rock:checked ~ #game #your-choice::before,
#scissors-paper:checked ~ #game #your-choice::before,
#scissors-scissors:checked ~ #game #your-choice::before {
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Victory%20Hand.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  content: "";
  margin-left: -60px;
  position: absolute;
}

#rock-rock:checked ~ #game #cpu-choice::before,
#paper-rock:checked ~ #game #cpu-choice::before,
#scissors-rock:checked ~ #game #cpu-choice::before {
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Raised%20Fist.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  content: "";
  margin-left: -60px;
  position: absolute;
}

#rock-paper:checked ~ #game #cpu-choice::before,
#paper-paper:checked ~ #game #cpu-choice::before,
#scissors-paper:checked ~ #game #cpu-choice::before {
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Raised%20Hand.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  content: "";
  margin-left: -60px;
  position: absolute;
}

#rock-scissors:checked ~ #game #cpu-choice::before,
#paper-scissors:checked ~ #game #cpu-choice::before,
#scissors-scissors:checked ~ #game #cpu-choice::before {
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Victory%20Hand.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  content: "";
  margin-left: -60px;
  position: absolute;
}

#choices {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
}

#choices > div {
  position: relative;
  width: 4rem;
  height: 4rem;
  border: solid 1px #d3d3d3;
  border-radius: 2rem;
}

label:active {
  position:static;
}

label:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  z-index: 10;
  height: 60px;
}

label {
  position: absolute;
  inset: 0;
  animation: loop 0.45s infinite linear;
  cursor: pointer;
  top: 0;
  left: 0;
  user-select: none;
}

label:nth-of-type(1) {
  animation-delay: -0.00s;
}

label:nth-of-type(2) {
  animation-delay: -0.15s;
}

label:nth-of-type(3) {
  animation-delay: -0.30s;
}

@keyframes loop {
  from {
    z-index: 9;
  }
  to {
    z-index: 1;
  }
}

button {
  margin: 2rem auto 0;
  font-family: 'Debug';
  font-size: 24px;
  background: rgb(3,1,40);
  background: linear-gradient(315deg, rgba(3,1,40,1) 0%, rgba(22,17,207,1) 90%);
  color: white;
  border-width: 2px;
  border-color: rgb(2, 2, 96);
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  margin-bottom: 20px;
}

#result {
  background-color: #efefef;
  font-size: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: none;
  width: 100%;
}

input[type="radio"]:checked ~ button,
input[type="radio"]:checked ~ #result {
  display: block;
}

#rock-rock:checked ~ #result::before,
#paper-paper:checked ~ #result::before,
#scissors-scissors:checked ~ #result::before {
  content: "It is a tie \00a0\00a0\00a0\00a0";
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Grinning%20Face%20with%20Sweat.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right;
}

#rock-scissors:checked ~ #result::before,
#paper-rock:checked ~ #result::before,
#scissors-paper:checked ~ #result::before {
  content: "You win \00a0\00a0\00a0\00a0";
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Partying%20Face.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: rgb(5, 170, 5);
  background-position: right;
}

#rock-paper:checked ~ #result::before,
#paper-scissors:checked ~ #result::before,
#scissors-rock:checked ~ #result::before {
  content: "You lose \00a0\00a0\00a0\00a0";
  background-image: url("https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Crying%20Face.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: rgb(255, 0, 0);
  background-position: right;
}

input[type="radio"] {
  display: none;
}